<div class="row">
    <nav class="navbar navbar-default">
        <div class="container">
            <h1 class="text-center text-capitalize">Room {{ roomId }}</h1>
        </div>
        <!--<a class="text-right" href="/"><span class="glyphicon glyphicon-remove-sign"></span> Leave</a>-->
    </nav>

    <script id="player-partial" type="text/x-handlebars-template">
        <div class="row \{{readyClass}} row-eq-height">
            <div class="col-xs-5">
                <img src="/content/img/user_1.png" class="img-circle img-responsive center-block" style="display: inline; width: 50px">
                <span class="label label-default">\{{nickName}}</span>
            </div>
            <div class="col-xs-6 text-center" style="padding-top:10px">
                \{{#if yourself}}
                <button class="btn btn-info ready-button" data-id="\{{UID}}">Ready</button>
                    \{{#if owner}}
                    <button class="btn btn-success start-button" disabled = "disabled">Start</button>
                    \{{/if}}
                \{{/if}}
            </div>
        </div>
    </script>

    <script id="last-round" type="text/x-handlebars-template">
        <a class="btn btn-primary" role="button" data-toggle="collapse" href="#last-round-collapse" aria-expanded="false" aria-controls="collapseExample">Last Round</a>
        <div id="last-round-collapse" class="collapse">
            <div class="row" style="padding-left: 20px;padding-right: 20px;">
                <div class="col-xs-2">
                    <img width="30px" class="img-responsive center-block img-rounded" src="/content/img/dice_1.png">
                </div>

                <div class="col-xs-2">
                    <img width="30px" class="img-responsive center-block img-rounded" src="/content/img/dice_2.png">
                </div>

                <div class="col-xs-2">
                    <img width="30px" class="img-responsive center-block img-rounded" src="/content/img/dice_3.png">
                </div>

                <div class="col-xs-2">
                    <img width="30px" class="img-responsive center-block img-rounded" src="/content/img/dice_4.png">
                </div>

                <div class="col-xs-2">
                    <img width="30px" class="img-responsive center-block img-rounded" src="/content/img/dice_5.png">
                </div>

                <div class="col-xs-2">
                    <img width="30px" class="img-responsive center-block img-rounded" src="/content/img/dice_6.png">
                </div>
            </div>
            <div class="row" style="padding-left: 20px;padding-right: 20px;">
                <div class="col-xs-2 text-center">
                    <p><span class="label label-default">\{{summary.dice1}}</span></p>
                </div>

                <div class="col-xs-2 text-center">
                    <p><span class="label label-default">\{{summary.dice2}}</span></p>
                </div>

                <div class="col-xs-2 text-center">
                    <p><span class="label label-default">\{{summary.dice3}}</span></p>
                </div>

                <div class="col-xs-2 text-center">
                    <p><span class="label label-default">\{{summary.dice4}}</span></p>
                </div>

                <div class="col-xs-2 text-center">
                    <p><span class="label label-default">\{{summary.dice5}}</span></p>
                </div>

                <div class="col-xs-2 text-center">
                    <p><span class="label label-default">\{{summary.dice6}}</span></p>
                </div>
            </div>
        </div>
    </script>

    <script id="playerCell" type="text/x-handlebars-template">
        <div class="player_\{{UID}}">
            \{{> player }}
        </div>
    </script>

    <div id="player-list"></div>
    <div id="playing"></div>
    <div id="play-result"></div>
</div>
<script>
    $(document).ready(function(){
        Handlebars.registerPartial("player", $("#player-partial").html());

        var playerListTemplate = Handlebars.compile($('#playerCell').html());

        var lastRoundTemplate = Handlebars.compile($('#last-round').html());

        var factorPlayer = function(data){
            var cookie = $.cookie('dice');
            var currentUserId = cookie.player.UID;

            data['yourself'] = false;

            if(currentUserId == data.UID){
                data['nickName'] = 'You';
                data['yourself'] = true;
            }

            if(data['ready']){
                data['readyClass'] = 'bg-success';
            } else {
                data['readyClass'] = 'bg-danger';
            }

            return data;
        };

        var addPlayers = function(data, option){
            option = option || {};

            var defaultOption = {
                update: false
            };

            $.extend(defaultOption, option);

            data = factorPlayer(data);

            if(option.update){
                console.log('this is update');

                $(".player_" + data.UID).html(playerListTemplate(data));
            } else {
                $('#player-list').append(playerListTemplate(data));
            }
        };


        $.cookie.json = true;
        var socket = io();
        var roomId = '{{ roomId }}';
        var room = {{{json room}}};
        var player = {{{json player}}};
        var newPlayer = '{{ newPlayer }}' == 'true';

        $.cookie('dice', {roomId: roomId, player: player});

        socket.on('connect', function(){
            var socketId = socket.id;
            socket.emit('join', {roomId: roomId, socketId: socketId, playerUID: player.UID, newPlayer: newPlayer});
        });

        socket.on('playerReady', function(data){
            addPlayers(data, {update: true});
        });

        socket.on('allReady', function(){
            $('.start-button').prop('disabled', false);
        });

        socket.on('allNotReady', function(){
            $('.start-button').prop('disabled', true);
        });

        socket.on('newPlayer', function(data){
            console.log('add new player');
            addPlayers(data);
        });

        var getPlayers = function(data){
            var cookie = $.cookie('dice');
            var currentUserId = cookie.player.UID;
            var currentUserObj = null;
            for(var i = 0; i <= data.length - 1; i++){
                if(data[i].UID == currentUserId){
                    currentUserObj = data[i];
                    data.splice(i, 1);
                }
            }

            if(currentUserObj){
                data.unshift(currentUserObj);
            }

            return data;
        };

        $(document).on('click', '.ready-button', function(){
            var UID = $(this).data('id');

            socket.emit('ready', {'player_id': UID, 'room_id': roomId});
        });

        $(document).on('click', '.start-button', function(e){
            e.preventDefault();
            socket.emit('gameStart', {'roomId': roomId});
        });

//        var existingPlayers = [];

        var updateView = function(data){
            var players = getPlayers(data.players);
            if(data.status == 'waiting'){
                console.log('Update players', players);
                $("#playing").empty().hide();
                $("#play-result").empty().hide();
                $("#player-list").empty().show();

                if(data.roundResult){
                    $('#player-list').append(lastRoundTemplate(data.roundResult));
                }

                var allReady = true;
                for(var i = 0; i <= players.length - 1; i++){
                    if(!players[i]){
                        continue;
                    }

                    allReady &= players[i].ready;

                    addPlayers(players[i]);
                }

                if(allReady){
                    $('.start-button').prop('disabled', false);
                }

            } else if(data.status == 'playing'){
                $("#player-list").empty().hide();
                $("#play-result").empty().hide();

                var player = players[0];

                var playingHtml =
                        '<div class="row text-center" style="margin-top: 50px; margin-bottom: 100px"><h2>Your Round, Happy Haunting</h2></div>'
                        + '<div class="row">';


                for(var i = 0; i <= player.round.length - 1; i++){
                    playingHtml +=
                            '<div class="col-xs-2 ' + (i == 0?'col-xs-offset-1':'') +'"><img class="img-responsive center-block img-rounded" src="/content/img/dice_' + player.round[i] + '.png"></div>';
                }

                playingHtml += '<div class="col-xs-1"></div>'
                        + '</div>'
                        + '<div class="row" style="margin-top: 100px">'
                        + '<button class="btn btn-danger center-block btn-lg doubt-button">I Doubt It !!!</button>'
                        + '</div>';

                if(playingHtml){
                    $("#playing").empty().html(playingHtml).show();
                }

                $('.doubt-button').on('click', function(e){
                    e.preventDefault();
                    socket.emit('gameResult', {'roomId': roomId, 'doubter': player.UID});
                });

            } else if(data.status == 'result'){
                $("#player-list").empty().hide();
                $("#playing").empty().hide();

                var result = {
                    summary: {
                        dice1: 0,
                        dice2: 0,
                        dice3: 0,
                        dice4: 0,
                        dice5: 0,
                        dice6: 0
                    },
                    detail:{

                    }
                };

                var doubterName = null;

                console.log(players);
                for(i = 0; i <= players.length - 1; i++){
                    var player = players[i];
                    if(player.doubt){
                        doubterName = player.nickName;
                    }

                    result['detail'][player.nickName] = {dice1: 0, dice2: 0, dice3: 0, dice4: 0, dice5: 0, dice6: 0};

                    for(var j = 0; j <= player.round.length - 1; j++){
                        var dice = player.round[j];
                        result['summary']['dice' + dice] += 1;
                        result['detail'][player.nickName]['dice' + dice] += 1;
                    }
                }
                var resultHtml = '<div class="row text-center" style="margin-top: 30px; margin-bottom: 30px"><h2>Here Comes The Truth</h2></div>';
                resultHtml +=  '<div class="row text-center" style="margin-bottom: 20px"><h3 class="text-danger">' + doubterName + ' doubt it</h3></div>';

                resultHtml += '<div class="row" style="padding-left: 20px;padding-right: 20px;">';

                for(var i = 0; i <= 5; i++){
                    resultHtml += '<div class="col-xs-2">' +
                            '<img width="30px" class="img-responsive center-block img-rounded" src="/content/img/dice_'+ (i+1) +'.png">' +
                            '</div>'
                }

                resultHtml += '</div>';

                resultHtml += '<div class="row" style="padding-left: 20px;padding-right: 20px;">';

                for(var i = 0; i <= 5; i++){
                    var count = result['summary']['dice' + (i + 1)];
                    resultHtml += '<div class="col-xs-2 text-center">' +
                            '<p><span class="label label-default">' + count + '</span></p>' +
                            '</div>'
                }

                resultHtml += '</div>';

                resultHtml += '<div class="row"> \
                                    <div class="col-xs-12"> \
                                        <table class="table table-responsive"> \
                                            <thead> \
                                            <tr> \
                                                <th class="text-center"><span class="label label-default">Players</span></th> \
                                                <th><img width="30px" class="img-responsive center-block img-rounded" src="/content/img/dice_1.png"></th> \
                                                <th><img width="30px" class="img-responsive center-block img-rounded" src="/content/img/dice_2.png"></th> \
                                                <th><img width="30px" class="img-responsive center-block img-rounded" src="/content/img/dice_3.png"></th> \
                                                <th><img width="30px" class="img-responsive center-block img-rounded" src="/content/img/dice_4.png"></th> \
                                                <th><img width="30px" class="img-responsive center-block img-rounded" src="/content/img/dice_5.png"></th> \
                                                <th><img width="30px" class="img-responsive center-block img-rounded" src="/content/img/dice_6.png"></th> \
                                            </tr> \
                                            </thead> \
                                            <tbody>';

                var firstList = true;

                for(var i in result['detail']){
                    if(firstList){
                        resultHtml += '<tr class="success"><td class="text-center"><span class="label label-default">You</span></td>';
                    } else {
                        resultHtml += '<tr><td class="text-center"><span class="label label-default">'+ i +'</span></td>';
                    }

                    for(var j in result['detail'][i]){
                        resultHtml += '<td class="text-center"><span class="label label-default">' + result['detail'][i][j] + '</span></td>'
                    }

                    firstList = false;

                    resultHtml += '</tr>';
                }

                resultHtml += '</tbody> \
                            </table> \
                        </div> \
                    </div>';

                resultHtml += '<div class="row" style="margin-top: 50px"><button class="btn btn-info center-block btn-lg again-button">Make Another Game!</button></div>';

                if(resultHtml){
                    $("#play-result").empty().html(resultHtml).show();
                }

                $('.again-button').on('click', function(e){
                    e.preventDefault();
                    socket.emit('gameRestart', {'roomId': roomId});
                })
            }
        };

        updateView(room);

        socket.on('updatePlayers', function(data){
            updateView(data);
        });
    });
</script>